.chat{
    flex: 0.70;
    display: flex;
    flex-direction: column;
}

.chat__header{
    height: 35px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom:1px solid lightgrey ;
}


.chat__header__info{
    margin-left: 15px;
    flex: 1;
}

.chat__header__info > h2{
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.chat__header__info > p{
    color: rgb(70, 70, 70);
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.chat__header__right{
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}

.chat__header__backicon{
    display: none !important;
}

.chat__body{
    flex: 1;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-repeat: repeat;
    background-position: center;
    overflow-y: scroll;
    padding: 30px 20px 20px 20px;
}

@media only screen and (max-width: 700px) {
    .chat{
        flex: 1;
    }
  }