.app{
  background: #d0cdcd;
   height: 100vh;
  display: grid;
  place-items: center;
}

.app__body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgb(0,0,0,0.2);
}


@media only screen and (max-width: 700px) {
  .app__body{
    width: 100vw;
    height: 100vh;
  }

  .show{
    display: flex !important;
}
.hide{
    display: none !important;
}

}