.previouschat__container{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.previouschat__container:hover{
    background-color: #ebebeb;
}

.previouschat__container__details{
    margin-left: 15px;    
}

.previouschat__container__details h1{
    font-size: 16px;
    margin: 0;
    padding: 0;
}


.previouschat__container__details p{
    color: rgb(70, 70, 70);
    font-size: 15px;
    margin: 0;
    padding: 0;
}