@import "../colors.scss";

.payment{
    
    padding: 20px;

    &__delivery{
        padding-bottom: 10px;
        margin-bottom: 15px;
  
        border-bottom: 1px solid $black;
        & p{
            color: $textColor;
            margin: 0;
            padding: 0;
        }
    }
}